:root {
    --main-color: rgb(46, 100, 128);
    --darker-color: rgb(20,29,66);
    --light-color: rgb(106, 155, 178);
    --white: rgb(225, 234, 239);
    --font-size: 1.5em;
    --font-family: "Patrick Hand"
}
/*body*/
body{
    margin: 0;
    background-color: var(--main-color);
    color: var(--white);
    user-select: none;
    font-family: var(--font-family);
}
/*head*/
.header{
    padding: 30px 30px 20px 30px;
}
#title{
    font-size: min(300%, 80px);
    font-family: 'Gochi Hand';
    text-shadow: 1px 1px 4px rgb(10, 28, 46);
}
/*content*/
.content{
    margin: 10px 5px 0 5px;
    font-size: var(--font-size);
}

/*top*/
.top{
    display: flex;
    justify-content: center;
    font-size: calc(1.1 * var(--font-size));
}





/*main*/
.main{
    display: flex;
    margin: 10px;
}
.mainLeft, .mainRight{
    flex: 1;
    flex-grow: 1;
}






/*left*/
.mainleft{
    display: flex;
    justify-content: end;
}
.tools{
    height: 100%;
}
.tool{
    flex: 1;
    text-align: end;
    margin: 30px 0;
}
select{
    background-color: var(--light-color);
    border: none;
}

/*center*/
.mainCenter{
    flex: 3;
    display: flex;
}

/*canvas*/
.canvasDiv, .startModal, .endModal{
    flex: 1 100%;
    height: 40vh;
    margin: 10px;
}

canvas{
    width: 100%;
    background-color: var(--white);
}

/*modal*/
.startModal, .endModal{
    background-color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--white);
    border-radius: 10px;
    padding: 10px;
    color: var(--white);
    text-shadow: 1px 1px 2px rgb(13, 34, 63);
}
input, button{
    font-family: var(--font-family);
    border: none;
}
.modalButton{
    text-align: center;
    background-color: #cb8073;
    color: var(--white);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: calc(var(--font-size) * 0.6);
}

/*right*/
.mainRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.timer{
    display: flex;
    justify-content: center;
}
em{
   padding: 4px; 
}
#drawObject{
    font-size: calc(var(--font-size)*1.25);
}

.endModalContent{
    text-align: center;
}
.endModalContent p{
    margin: 0;
}
.endModalContent input{
    margin-top: 10px;
}
#congrats, #aiThought{
    color: var(--darker-color);
    text-shadow: none;
    font-weight: 800;
}


/*name modal collector*/
.nameCollector{
    /*display: none;/*DELETE THIS LINE HERE*/
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:  #5d7a86;
    z-index: 1;
}
.nameBox{
    width: 50vw;
    height: 50vh;
    max-width: 400px;
    min-width: 300px;
    background-color: #d28260;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.nameModalContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15% 10% 10% 10%;
    height: 80%;
    justify-content: space-around;
    color: white;
}
.nameModalName{
    margin: 10px;
}
.nameModalBottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.nameModalBottom input{
    text-align: center;
    border: none;
    border-radius: 2px;
    width: 75%;
    margin: 10px;
}
.nameModalSpan{
    text-align: center;
    margin: 5vh;
}
.nameModalBottom div{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 10px;
}
.nameModalBottom div button{
    text-align: center;
    width: 25%;
    background-color: #375663;
    color: var(--white);
    border: none;
    border-radius: 2px;
    font-size: medium;
}