body{
    margin: 0;
    background-color: #058ED9;
}
.header{
    background-color: aqua;
    padding: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}
#title{
    font-size: min(250%, 75px);
    background-color: aqua;
}
#aiImg{
    max-height: 75px;
}
.content{
    margin: 3% 3% 5% 5%;
    font-size: 120%;
}
.mainHead, .main, .mainFoot{
    display: flex;
}
.time, .scoreLine, .footLeft{
    flex: 2;
    max-width: 200px;
    display: flex;
    justify-content: space-around;
}
.time{
    align-items: center;
}
.mainTitle, .canvas, .percent{
    flex: 5;
    margin: 0% 5%;
}
.mainTitle{
    align-items: center;
    display: flex;
}
.round{
    left: min(10px, 10%);
    top: 5%;
    flex: 1;
    flex-grow: 1;
}
.prompt{
    text-align: center;
    font-size: xx-large;
    flex: 3;
}
.main{
    margin-top: 15px;
}
#timer{
    text-decoration: underline;
}
#mainCanvas{
    width: 100%;
    height: 50%;
}
.percent{
    display: flex;
    justify-content: space-around;
}
.nameCollector{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
}
.nameBox{
    width: 50vw;
    height: 50vh;
    max-width: 400px;
    min-width: 300px;
    background-color: #FF6700;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.nameModalContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
    height: 80%;
    justify-content: space-between;
}
.nameModalContent span{
    text-align: center;
    margin: 5vh;
}
.nameModalContent input{
    text-align: center;
    margin-top: 10vh;
    width: 60%;
}
.nameModalContent div{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.nameModalContent div button{
    text-align: center;
    height: 20px;
    width: 30%;
}